.card_container {
    width: 75%;
    position: relative;
    height: 500px;
    display: flex;
    margin-top: -3rem;
    justify-items: start;
    justify-content: center;
}

.cards {
    position: absolute;    
    top: 0;                
    width: 100%;            
    max-width: 650px;       
    height: 420px;         
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px); 
    display: flex;        
    flex-direction: column; 
    align-items: center;
    border: 5px solid #6e02ca;
    border-radius: 1rem;    
    padding: 2rem;           
    box-shadow: 0 25px 50px 7px rgba(45, 4, 248, 0.25); 
}

.roles_list {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}